<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwe3.sec.mapper.DiningTableMapper">

    <resultMap id="BaseResultMap" type="com.iwe3.sec.entity.DiningTableEntity">
        <id column="id" property="id"/>

        <result column="store_id" property="storeId"/>
        <result column="table_type_id" property="tableTypeId"/>
        <result column="table_no" property="tableNo"/>
        <result column="table_name" property="tableName"/>
        <result column="qr_code" property="qrCode"/>
        <result column="status" property="status"/>
        <result column="person_count" property="personCount"/>
        <result column="enable_reservation" property="enableReservation"/>
        <result column="sort" property="sort"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, store_id, table_type_id, table_no, table_name, qr_code, status, person_count, enable_reservation, sort, create_time, update_time, is_deleted
    </sql>

    <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM `dining_table`
        <where>
            is_deleted = 0
            <if test="query != null">
                <if test="query.storeId != null">AND store_id = #{query.storeId}</if>
                <if test="query.tableTypeId != null">AND table_type_id = #{query.tableTypeId}</if>
                <if test="query.tableNo != null">AND table_no = #{query.tableNo}</if>
                <if test="query.tableName != null">AND table_name = #{query.tableName}</if>
                <if test="query.qrCode != null">AND qr_code = #{query.qrCode}</if>
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM `dining_table`
        WHERE id = #{id} AND is_deleted = 0
    </select>

    <insert id="insert" parameterType="com.iwe3.sec.entity.DiningTableEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `dining_table`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storeId != null">store_id,</if>
            <if test="tableTypeId != null">table_type_id,</if>
            <if test="tableNo != null">table_no,</if>
            <if test="tableName != null">table_name,</if>
            <if test="qrCode != null">qr_code,</if>
            <if test="status != null">status,</if>
            <if test="personCount != null">person_count,</if>
            <if test="enableReservation != null">enable_reservation,</if>
            <if test="sort != null">sort,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="storeId != null">#{storeId},</if>
            <if test="tableTypeId != null">#{tableTypeId},</if>
            <if test="tableNo != null">#{tableNo},</if>
            <if test="tableName != null">#{tableName},</if>
            <if test="qrCode != null">#{qrCode},</if>
            <if test="status != null">#{status},</if>
            <if test="personCount != null">#{personCount},</if>
            <if test="enableReservation != null">#{enableReservation},</if>
            <if test="sort != null">#{sort},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.iwe3.sec.entity.DiningTableEntity">
        UPDATE `dining_table`
        <set>
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="tableTypeId != null">table_type_id = #{tableTypeId},</if>
            <if test="tableNo != null">table_no = #{tableNo},</if>
            <if test="tableName != null">table_name = #{tableName},</if>
            <if test="qrCode != null">qr_code = #{qrCode},</if>
            <if test="status != null">status = #{status},</if>
            <if test="personCount != null">person_count = #{personCount},</if>
            <if test="enableReservation != null">enable_reservation = #{enableReservation},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="deleteById">
        UPDATE `dining_table` SET is_deleted = 1 WHERE id = #{id}
    </update>

</mapper>
