<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwe3.sec.mapper.IngredientCategoryMapper">

    <resultMap id="BaseResultMap" type="com.iwe3.sec.entity.IngredientCategoryEntity">
        <id column="id" property="id"/>

        <result column="store_id" property="storeId"/>
        <result column="category_name" property="categoryName"/>
        <result column="sort" property="sort"/>
        <result column="create_time" property="createTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, store_id, category_name, sort, create_time, is_deleted
    </sql>

                <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM `ingredient_category`
        <where>
            is_deleted = 0
            <if test="query.searchKeyword != null and query.searchKeyword != ''">
                AND (
category_name LIKE CONCAT('%', #{query.searchKeyword}, '%')
                )
            </if>
            <if test="query.categoryName != null and query.categoryName != ''">AND category_name LIKE CONCAT('%', #{query.categoryName}, '%')</if>
            <if test="query.storeId != null">AND store_id = #{query.storeId}</if>
            <if test="query.sort != null">AND sort = #{query.sort}</if>
            <if test="query.searchBeginTime != null and query.searchBeginTime != ''">AND create_time &gt;= CONCAT(#{query.searchBeginTime}, ' 00:00:00')</if>
            <if test="query.searchEndTime != null and query.searchEndTime != ''">AND create_time &lt;= CONCAT(#{query.searchEndTime}, ' 23:59:59')</if>
        </where>
        ORDER BY id DESC
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM `ingredient_category`
        WHERE id = #{id} AND is_deleted = 0
    </select>

    <insert id="insert" parameterType="com.iwe3.sec.entity.IngredientCategoryEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `ingredient_category`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storeId != null">store_id,</if>
            <if test="categoryName != null">category_name,</if>
            <if test="sort != null">sort,</if>
            <if test="createTime != null">create_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="storeId != null">#{storeId},</if>
            <if test="categoryName != null">#{categoryName},</if>
            <if test="sort != null">#{sort},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.iwe3.sec.entity.IngredientCategoryEntity">
        UPDATE `ingredient_category`
        <set>
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="categoryName != null">category_name = #{categoryName},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="deleteById">
        UPDATE `ingredient_category` SET is_deleted = 1 WHERE id = #{id}
    </update>

</mapper>
