<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwe3.sec.mapper.MemberPointsRecordMapper">

    <resultMap id="BaseResultMap" type="com.iwe3.sec.entity.MemberPointsRecordEntity">
        <id column="id" property="id"/>

        <result column="member_id" property="memberId"/>
        <result column="points_change" property="pointsChange"/>
        <result column="points_after" property="pointsAfter"/>
        <result column="change_type" property="changeType"/>
        <result column="source_type" property="sourceType"/>
        <result column="source_id" property="sourceId"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, member_id, points_change, points_after, change_type, source_type, source_id, remark, create_time
    </sql>

                <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM `member_points_record`
        <where>
            <if test="query.searchKeyword != null and query.searchKeyword != ''">
                AND (
remark LIKE CONCAT('%', #{query.searchKeyword}, '%')
                )
            </if>
            <if test="query.changeType != null and query.changeType != ''">AND change_type LIKE CONCAT('%', #{query.changeType}, '%')</if>
            <if test="query.sourceType != null and query.sourceType != ''">AND source_type LIKE CONCAT('%', #{query.sourceType}, '%')</if>
            <if test="query.remark != null and query.remark != ''">AND remark LIKE CONCAT('%', #{query.remark}, '%')</if>
            <if test="query.memberId != null">AND member_id = #{query.memberId}</if>
            <if test="query.pointsChange != null">AND points_change = #{query.pointsChange}</if>
            <if test="query.pointsAfter != null">AND points_after = #{query.pointsAfter}</if>
            <if test="query.sourceId != null">AND source_id = #{query.sourceId}</if>
            <if test="query.searchBeginTime != null and query.searchBeginTime != ''">AND create_time &gt;= CONCAT(#{query.searchBeginTime}, ' 00:00:00')</if>
            <if test="query.searchEndTime != null and query.searchEndTime != ''">AND create_time &lt;= CONCAT(#{query.searchEndTime}, ' 23:59:59')</if>
        </where>
        ORDER BY id DESC
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM `member_points_record`
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.iwe3.sec.entity.MemberPointsRecordEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `member_points_record`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="memberId != null">member_id,</if>
            <if test="pointsChange != null">points_change,</if>
            <if test="pointsAfter != null">points_after,</if>
            <if test="changeType != null">change_type,</if>
            <if test="sourceType != null">source_type,</if>
            <if test="sourceId != null">source_id,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="memberId != null">#{memberId},</if>
            <if test="pointsChange != null">#{pointsChange},</if>
            <if test="pointsAfter != null">#{pointsAfter},</if>
            <if test="changeType != null">#{changeType},</if>
            <if test="sourceType != null">#{sourceType},</if>
            <if test="sourceId != null">#{sourceId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.iwe3.sec.entity.MemberPointsRecordEntity">
        UPDATE `member_points_record`
        <set>
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="pointsChange != null">points_change = #{pointsChange},</if>
            <if test="pointsAfter != null">points_after = #{pointsAfter},</if>
            <if test="changeType != null">change_type = #{changeType},</if>
            <if test="sourceType != null">source_type = #{sourceType},</if>
            <if test="sourceId != null">source_id = #{sourceId},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM `member_points_record` WHERE id = #{id}
    </delete>

</mapper>
