<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwe3.sec.mapper.QueueMapper">

    <resultMap id="BaseResultMap" type="com.iwe3.sec.entity.QueueEntity">
        <id column="id" property="id"/>

        <result column="store_id" property="storeId"/>
        <result column="queue_no" property="queueNo"/>
        <result column="table_type_id" property="tableTypeId"/>
        <result column="persons" property="persons"/>
        <result column="member_id" property="memberId"/>
        <result column="phone" property="phone"/>
        <result column="status" property="status"/>
        <result column="call_count" property="callCount"/>
        <result column="over_count" property="overCount"/>
        <result column="call_time" property="callTime"/>
        <result column="seated_time" property="seatedTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, store_id, queue_no, table_type_id, persons, member_id, phone, status, call_count, over_count, call_time, seated_time, create_time, update_time
    </sql>

                <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM `queue`
        <where>
            <if test="query.searchKeyword != null and query.searchKeyword != ''">
                AND (
queue_no LIKE CONCAT('%', #{query.searchKeyword}, '%')
                OR phone LIKE CONCAT('%', #{query.searchKeyword}, '%')
                )
            </if>
            <if test="query.queueNo != null and query.queueNo != ''">AND queue_no LIKE CONCAT('%', #{query.queueNo}, '%')</if>
            <if test="query.phone != null and query.phone != ''">AND phone LIKE CONCAT('%', #{query.phone}, '%')</if>
            <if test="query.storeId != null">AND store_id = #{query.storeId}</if>
            <if test="query.tableTypeId != null">AND table_type_id = #{query.tableTypeId}</if>
            <if test="query.persons != null">AND persons = #{query.persons}</if>
            <if test="query.memberId != null">AND member_id = #{query.memberId}</if>
            <if test="query.status != null">AND status = #{query.status}</if>
            <if test="query.callCount != null">AND call_count = #{query.callCount}</if>
            <if test="query.overCount != null">AND over_count = #{query.overCount}</if>
            <if test="query.searchBeginTime != null and query.searchBeginTime != ''">AND create_time &gt;= CONCAT(#{query.searchBeginTime}, ' 00:00:00')</if>
            <if test="query.searchEndTime != null and query.searchEndTime != ''">AND create_time &lt;= CONCAT(#{query.searchEndTime}, ' 23:59:59')</if>
        </where>
        ORDER BY id DESC
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM `queue`
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.iwe3.sec.entity.QueueEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `queue`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storeId != null">store_id,</if>
            <if test="queueNo != null">queue_no,</if>
            <if test="tableTypeId != null">table_type_id,</if>
            <if test="persons != null">persons,</if>
            <if test="memberId != null">member_id,</if>
            <if test="phone != null">phone,</if>
            <if test="status != null">status,</if>
            <if test="callCount != null">call_count,</if>
            <if test="overCount != null">over_count,</if>
            <if test="callTime != null">call_time,</if>
            <if test="seatedTime != null">seated_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="storeId != null">#{storeId},</if>
            <if test="queueNo != null">#{queueNo},</if>
            <if test="tableTypeId != null">#{tableTypeId},</if>
            <if test="persons != null">#{persons},</if>
            <if test="memberId != null">#{memberId},</if>
            <if test="phone != null">#{phone},</if>
            <if test="status != null">#{status},</if>
            <if test="callCount != null">#{callCount},</if>
            <if test="overCount != null">#{overCount},</if>
            <if test="callTime != null">#{callTime},</if>
            <if test="seatedTime != null">#{seatedTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.iwe3.sec.entity.QueueEntity">
        UPDATE `queue`
        <set>
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="queueNo != null">queue_no = #{queueNo},</if>
            <if test="tableTypeId != null">table_type_id = #{tableTypeId},</if>
            <if test="persons != null">persons = #{persons},</if>
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="status != null">status = #{status},</if>
            <if test="callCount != null">call_count = #{callCount},</if>
            <if test="overCount != null">over_count = #{overCount},</if>
            <if test="callTime != null">call_time = #{callTime},</if>
            <if test="seatedTime != null">seated_time = #{seatedTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM `queue` WHERE id = #{id}
    </delete>

</mapper>
