<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwe3.sec.mapper.StorePaymentSettingMapper">

    <resultMap id="BaseResultMap" type="com.iwe3.sec.entity.StorePaymentSettingEntity">
        <id column="id" property="id"/>

        <result column="store_id" property="storeId"/>
        <result column="pay_type" property="payType"/>
        <result column="is_enabled" property="isEnabled"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, store_id, pay_type, is_enabled, create_time
    </sql>

                <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM `store_payment_setting`
        <where>
            <if test="query.payType != null and query.payType != ''">AND pay_type LIKE CONCAT('%', #{query.payType}, '%')</if>
            <if test="query.storeId != null">AND store_id = #{query.storeId}</if>
            <if test="query.isEnabled != null">AND is_enabled = #{query.isEnabled}</if>
            <if test="query.searchBeginTime != null and query.searchBeginTime != ''">AND create_time &gt;= CONCAT(#{query.searchBeginTime}, ' 00:00:00')</if>
            <if test="query.searchEndTime != null and query.searchEndTime != ''">AND create_time &lt;= CONCAT(#{query.searchEndTime}, ' 23:59:59')</if>
        </where>
        ORDER BY id DESC
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM `store_payment_setting`
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.iwe3.sec.entity.StorePaymentSettingEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `store_payment_setting`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storeId != null">store_id,</if>
            <if test="payType != null">pay_type,</if>
            <if test="isEnabled != null">is_enabled,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="storeId != null">#{storeId},</if>
            <if test="payType != null">#{payType},</if>
            <if test="isEnabled != null">#{isEnabled},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.iwe3.sec.entity.StorePaymentSettingEntity">
        UPDATE `store_payment_setting`
        <set>
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="payType != null">pay_type = #{payType},</if>
            <if test="isEnabled != null">is_enabled = #{isEnabled},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM `store_payment_setting` WHERE id = #{id}
    </delete>

</mapper>
